
.card-body{
 background-image: linear-gradient(to  right, #512D6D,#E00885);
 width: 459px;
 margin: 100px auto;
 padding: 32px;
 height: 283px;
 border-radius: 12px;
 color: aliceblue;
 overflow: hidden;
 position: relative;
 

}