.card-container{
    margin: 100px auto;
    width: 382px;
    height: 420px;
    overflow: hidden;
    border-radius: 12px;
    box-shadow: 5px 5px 30px rgba(0,0,0,0.15);
    background-color: white;
    position: relative;
 
}
.card-container:hover{
    box-shadow: 0px 2px 8px rgba(0,0,0,0.3)
}
.image-container{
    height: 210px;
    overflow: hidden;

}
.image-container img{
    width: 100%;
    overflow: hidden;

}
.card-content{
    margin: 20px;
}
.card-title{
    margin-bottom: 0.5rem;
    padding: 0;
}
.timestamp{
margin-top: 8px;
 color: gray;
}
.card-title p{
    margin: 0;
    font-family: "AspiraMedium";
}
.cardBody{
    margin: 12px 0;
}
.cardBody p{
    font-family: "AspiraRegular";
    color: #4D4D4D;
}
.card-link{
    position: absolute;
    bottom: 32px;
}
a{
    text-decoration: none;
    color: #32A685;
}
a:hover{
    color: #075443;
    text-decoration: underline;
}