.grid-container{
    display: grid;

    column-gap: 16px;
    grid-template-columns: repeat(4,1fr);
}

.helpcard-container{

  width: 100%;
  height: 283px;
    margin: 50px auto;
    /* width: 300px; */
    box-shadow: 5px 5px 30px rgba(0,0,0,0.05);
    
}
.helpcard-icon img{
    width: 80px;
    height: 80px;
}
.helpcard-icon{
   display: flex;
   justify-content: center;
   padding: 35px;

   
}
.helpcard-title{
    font-weight: 500;
    padding-bottom: 20px;
    color: black;
    text-align: center;
}
.helpcard-body{
    text-align: center;
}
.helpcard-a{
    text-align: center;
    padding: 35px;
    color: #075443;
}
@media (max-width : 1440px){
    .grid-container{
        display: grid;
    
        column-gap: 16px;
        grid-template-columns: repeat(3,1fr);
    }
}
@media (max-width : 1024px){
    .grid-container{
        display: grid;
        column-gap: 16px;
        grid-template-columns: repeat(2,1fr);
        height: 125px;
   
    }
    .helpcard-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        height: 125px

    }
    .helpcard-icon{
      padding: 0;
      align-items: center;
    }
   .helpcard-body{
    display: none;
   }
   .helpcard-a{
    display: none;
   }
}