.grid-container{
    display: grid;
    margin: 0 40px;
    margin-bottom: 100px;
    column-gap: 16px;
    grid-template-columns: repeat(4,1fr);
  
}

.helpcard-container{

  width: 382px;
  height: 278px;
    margin: 50px auto;
    /* width: 300px; */
    box-shadow: 5px 5px 30px rgba(0,0,0,0.05);
    background-color: white;
    border-radius: 12px;
   
}

.helpcard-icon{


   display: flex;
   justify-content: center;
   padding: 32px;
   padding-bottom: 19px;
}
.helpcard-icon-bg{
    height: 64px;
    width: 64px;
    background-color: #F2EAF2;
    border-radius: 50%;
    display: grid;
    align-items: center;
    justify-content: center;
}
.helpcard-textcontainer{
    text-align: center;
}
.helpcard-title{
    font-family: "AspiraDemi";
    font-size: 20px;
    padding-bottom: 20px;
    color: black;
   
}
.helpcard-body{

    padding: 0 30px;
    font-size: 16px;
    font-family: "AspiraRegular";
}
.helpcard-a{
   padding-top: 28px;
   padding-bottom: 10px;
    color: #075443;
    font-family: "AspiraRegular";
}
.helpcard-shortText{
    display: none;
}
@media (max-width : 1440px){
    .grid-container{
        display: grid;
    
        column-gap: 16px;
        grid-template-columns: repeat(3,1fr);
    }
}
@media (max-width : 1024px){
    .grid-container{
        display: grid;
        column-gap: 16px;
        grid-template-columns: repeat(2,1fr);
        height: 125px;
   
    }
  
    .helpcard-container{
        display: flex;
      align-items: center;
        height: 125px

    }

    .helpcard-shortText{
        display: block;
    }
    .helpcard-title{
        font-family: "AspiraMedium";
        font-size: 18px;
        padding-bottom: 4px;
    }
  .helpcard-body{
    display: none;
  }
   .helpcard-a{
    display: flex;
    padding: 0;
    
   }
}
@media (max-width : 1440px){
    .grid-container{
        display: grid;
    
        column-gap: 16px;
        grid-template-columns: repeat(3,1fr);
    }
}
@media (max-width : 600px){
    .grid-container{
        display: grid;
        margin-bottom: 100px;
  
    }
    .helpcard-container{
        display: flex;
        flex-direction: column;
       width: 170px;
       height: 160px;
      
    }
    .helpcard-icon{
        padding-bottom: 16px;
    }
    .helpcard-title{
        font-family: "AspiraMedium";
        font-size: 18px;
    }
    .helpcard-body{
        display: none;
    }
  
   .helpcard-a{
    display: none;
   }
   .helpcard-shortText{
    display: none;
   }
}